---
version: '3.8'
services:
  # TODO: add `restart` policy here or in `docker-compose.production.yml`
  master:
    build:
      args:
        - DOCKER_GID=!!SET_VALUE!!
    ports:
      # forward only port to communicate with JNLP agents.
      # Web interface should be handled by nginx reverse proxy
      - "50000:50000"
